In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [61]:
df_stocks = pd.read_csv("historical_stock_prices.csv")

In [62]:
df = df_stocks[['ticker','close','date']][0:100000].copy()

In [63]:
df['date'] = pd.to_datetime(df.date)
df = df[df['date'] > '2010-01-01']
df = df.sort_values(by='date')
df = df.reset_index(drop=True)
df

      ticker      close       date
0       BRFS  13.595000 2010-01-04
1       CAAS  20.850000 2010-01-04
2       AAPL  30.572857 2010-01-04
3       VIAV   4.812287 2010-01-04
4       RAVN  16.465000 2010-01-04
...      ...        ...        ...
41193   ISTR  28.200001 2018-08-24
41194   GHDX  57.680000 2018-08-24
41195    RRC  16.660000 2018-08-24
41196  AMSWA  17.610001 2018-08-24
41197    AHH  15.850000 2018-08-24

[41198 rows x 3 columns]

In [64]:
uniqueTickers = df.ticker.unique()
uniquedate = df.date.unique()
newDf = pd.DataFrame(index=uniquedate, columns=uniqueTickers)
newDf = newDf.fillna(0) # with 0s rather than NaNs

In [76]:
for i in range(0, len(df)):
    date = df.loc[i, 'date']
    close = df.loc[i, 'close']
    ticker = df.loc[i, 'date']
    newDf.loc[ticker, date] = close

In [77]:
newDf

,BRFS,CAAS,AAPL,VIAV,RAVN,AMSWA,FLWS,GHDX,PEZ,GTS,...,2018-08-13 00:00:00,2018-08-14 00:00:00,2018-08-15 00:00:00,2018-08-16 00:00:00,2018-08-17 00:00:00,2018-08-20 00:00:00,2018-08-21 00:00:00,2018-08-22 00:00:00,2018-08-23 00:00:00,2018-08-24 00:00:00
2010-01-04,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-20,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,57.849998,NaN,NaN,NaN,NaN
2018-08-21,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,15.76,NaN,NaN,NaN
2018-08-22,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.87,NaN,NaN
2018-08-23,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.280001,NaN
2018-08-24,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.85

In [69]:
plt.figure(figsize=(15,15))
plt.plot(newDf['close'])

plt.title("open vs close")
plt.show()

KeyError: 'close'